grant {
    permission java.security.AllPermission "","";
    permission java.net.SocketPermission "*:80", "connect";
    permission java.net.SocketPermission "localhost:1024-","listen,connect,accept,resolve";
};
